<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatiplex</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="/assets/app.css">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Chatiplex</h1>
    <a href="https://github.com/Blacepos/chatiplex">Source</a>

    <form id="chat-selection" hx-get="/chats" hx-target="#chat">
        <input id="chat-id" type="text" name="id" placeholder="Conversation ID">
        <button type="submit">View</button>
    </form>

    <form id="submit-message" hx-post="/chats" hx-target="#chat" hx-include="#chat-id">
        <input type="text" name="message" placeholder="Message">
        <button type="submit">Send</button>
    </form>

    <ul id="chat" hx-get="/chats" hx-trigger="load">

    </ul>
</body>
</html>